{% load static %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CryptoSent</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/round-about.css' %}" rel="stylesheet">


    <!-- <svg width="960" height="500"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <script>

  //
  //   var JSONObject = JSON.parse({{data}});
  //   console.log(JSONObject.randoms);
  //
  //   var chartData = [data];
  //
  //
  //   // let sentiment = JSON.parse('{{ sentiment | escapejs }}')
  //
  //
  //   console.log(JSON.parse(data))
  //   // console.log(sentiment);
  //
  //       function generateChartData() {
  //       chartData.push( {
  //         "date": newDate,
  //         "value": a,
  //       } );
  //     }
  //   }
  //
  //   window.onload = () => {
  //     var chart = AmCharts.makeChart( "chartdiv", {
  //   "type": "stock",
  //   "theme": "light",
  //   "dataSets": [ {
  //     "color": "#b0de09",
  //     "fieldMappings": [ {
  //       "fromField": "value",
  //       "toField": "value"
  //     }, {
  //       "fromField": "volume",
  //       "toField": "volume"
  //     } ],
  //     "dataProvider": chartData,
  //     "categoryField": "date"
  //     // EVENTS
  //    ]
  //   } ],
  //
  //
  //   "panels": [ {
  //     "title": "Value",
  //     "stockGraphs": [ {
  //       "id": "g1",
  //       "valueField": "value"
  //     } ],
  //     "stockLegend": {
  //       "valueTextRegular": " ",
  //       "markerType": "none"
  //     }
  //   } ],
  //
  //   "chartScrollbarSettings": {
  //     "graph": "g1"
  //   },
  //
  //   "chartCursorSettings": {
  //     "valueBalloonsEnabled": true,
  //     "graphBulletSize": 1,
  //     "valueLineBalloonEnabled": true,
  //     "valueLineEnabled": true,
  //     "valueLineAlpha": 0.5
  //   },
  //
  //   "periodSelector": {
  //     "periods": [ {
  //       "period": "DD",
  //       "count": 10,
  //       "label": "10 days"
  //     }, {
  //       "period": "MM",
  //       "count": 1,
  //       "label": "1 month"
  //     }, {
  //       "period": "YYYY",
  //       "count": 1,
  //       "label": "1 year"
  //     }, {
  //       "period": "YTD",
  //       "label": "YTD"
  //     }, {
  //       "period": "MAX",
  //       "label": "MAX"
  //     } ]
  //   },
  //
  //   "panelsSettings": {
  //     "usePrefixes": true
  //   },
  //   "export": {
  //     "enabled": true
  //   }
  // } );
  //
  //   };
    </script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <img src="https://files.slack.com/files-tmb/T624RPTSB-F90TR52UX-c65e3d4ab8/cryptosentlogo_1024.png" style="width: 5%; height: 5%" alt=""><a class="navbar-brand" href="#">ryptoSent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Search</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <h1 class="my-4"><br></h1>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->

      <!-- Team Members Row -->
        <div class="row">
          <!--<div class="col-lg-12">
            <h2 class="my-4">Our Team</h2>
          </div>-->
          <div class="col-lg-4 col-sm-6 text-center mb-4">
            <a href='#' style='center;'><img class="rounded-circle img-fluid d-block mx-auto" src="" alt=""></a>
            <a href='#' style='center;'><h3><br></h3></a>
          </div>

          <div class="col-lg-4 col-sm-6 text-center mb-4">
            <a href='{% url 'bitcoin' %}' style='center;'><img class="rounded-circle img-fluid d-block mx-auto" src="http://files.coinmarketcap.com.s3-website-us-east-1.amazonaws.com/static/img/coins/200x200/bitcoin.png" alt=""></a>
            <a href='{% url 'bitcoin' %}' style='center;'><h3>Bitcoin
            </h3></a>
          </div>
          </div>
          <a><br></a>

          <div class="row">
            <!--<div class="col-lg-12">
              <h2 class="my-4">Our Team</h2>
            </div>-->
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <h2 style='text-align:center, color:green, font-family: "Times New Roman";'>Hourly Change <br> {{change_1}} %</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <h2 style='text-align:center, color:blue, font-family: "Times New Roman";'> Daily Change <br>{{change_24}} %</h2>
              </h3></a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <h2 style='text-align:center, color:red, font-family: "Times New Roman";'> Weekly Change <br> {{change_7}} %</h2>
              </h3></a>
            </div>

            </div>
            <a><br></a>

        <h1 style="text-align:center;">Sentiment Analysis on News Articles</h1>
        <i><p style="text-align:center;">On a scale of 0 to 1</p></i>
        <a style='display: block; margin-left: auto; margin-right: auto; text-align: center;'><img src="https://i.stack.imgur.com/dDQbw.png" alt=""></a>
        <h1><br></h1>
      <!--<div class="col-lg-4 col-sm-6 text-center mb-4" id = "bing_news">-->


      <div class="container">
          <div class="row">
          {% for i in news %}
            {% for n in score %}
              {% if forloop.counter == forloop.parentloop.counter %}
            <div class="col-lg-4 col-sm-16 text-center mb-4" style="border:1px solid black;">
            <a href='{{i.url}}'><h3>{{i.title}}</h3></a>
            <a href='{{i.url}}'><img class="rounded-circle img-fluid d-block mx-auto" src='{{i.urlToImage}}' alt=''></a>
            <p> {{i.description}}</p>
            <p> Sentiment: {{ n }} </p>
            </div>
            {% endif %}
            {% endfor %}
          {% endfor %}

          <!-- <div class="col-lg-4 col-sm-6 text-center mb-4" style="border:1px solid black;">

          </div> -->

        </div>
    </div>
    <!--<div class="container">
      <a class="col-lg-4 col-sm-6 text-center mb-4">
        <ul class ="sentiment">
          {% for i in sentiment %}
            <li>{{i}}</li>
          {% endfor %}
        </ul>
      </a>
    </div>
    <div class="container">
      <a class="col-lg-4 col-sm-6 text-center mb-4">
        <ul class ="bingnews">
          {% for i in bing_news %}
            <li>{{i.description}}</li>
            <li>{{i.name}}</li>
            <li>{{i.datePublished}}</li>
            <li>{{i.url}}</li>
          {% endfor %}
        </ul>
      </a>-->
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <!--<p class="m-0 text-center text-white">Copyright &copy; CryptoSent 2018</p>-->
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
